<div class="row d-flex flex-row justify-content-between border-bottom border-grey">
  <div class="col-md-2">
    <h3>Biblioteca</h3>
  </div>
  <div class="col-md-4">
    <div class="md-form input-group" id="searchDiv">
      <div class="input-group-prepend">
        <span class="input-group-text">Buscar</span>
      </div>
      <input type="search" [(ngModel)]="searchText" placeholder="Buscar Libro">
    </div>
  </div>
  
</div>

<div class="row">
  <div>
    <button id="addBtn" class="btn btn-success" (click)="showAddBook()">Nuevo</button>
  </div>
</div>
<ul>
  <li class="border-bottom-light border d-flex flex-row justify-content-between bg-dark text-light">
    <div class="p-2">#</div>
    <div class="p-2">Título</div>
    <div class="p-2">Autor</div>
    <div class="p-2">Editorial</div>
  </li>
  <li class="border-bottom-light border d-flex flex-row justify-content-between bg-dark text-light" *ngFor="let lib of libros | filter: searchText" (click)="showEditBook(lib.id)">
    <div class="p-2">{{lib.id}}</div>
    <div class="p-2">{{lib.title}}</div>
    <div class="p-2">{{lib.autor}}</div>
    <div class="p-2">{{lib.editorial}}</div>
  </li>
</ul>