<div class="row text-center" [hidden]="!showForm">
    <h2>{{formTitle}}</h2>
    <form class="form-inline" novalidate>
      <div class="row">
        <div class="col-md-3">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">Autor</span>
            </div>
            <input class="input-sm" [(ngModel)]="autor" class="mr-3" type="text" placeholder="Autor" name="autor">  
          </div>
          </div>
        <div class="col-md-3">
          <div class="form-group input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">Título</span>
            </div>
            <input class="input-sm" [(ngModel)]="title" class="mr-3" type="text" placeholder="Titulo" name="title">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">Editorial</span>
            </div>
            <input class="input" [(ngModel)]="editorial" type="text" placeholder="Editorial" name="editorial">
          </div>
        </div>
        <div class="col-md-2 offset-md-1">
          <button class="btn btn-success" (click)="addBtn()">Guardar</button>
        </div>
      </div>
    </form>
  </div>